- books_grouped.each do |testament, groups|
  %h2= testament
  - groups.each do |name, books|
    %h3= name
    %p
      = books.map {|book| "<a href='book_#{book.number}' class='book_name_link'>#{book.name}</a>" }.join(', &nbsp;')
