#book_page
  #header
    .row
      .column.grid_9
        %a{:href =>'../index.html'} Silent Voices | The Feminist Bible


  #container.row
    #facebook_like
      %iframe{:src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsilentvoicesbible.com/#{path_from(SilentVoices.start_page)}&amp;layout=button_count&amp;show_faces=false&amp;width=50&amp;action=recommend&amp;font=lucida+grande&amp;colorscheme=light&amp;height=35", :scrolling => "no", :frameborder => "0", :style => "border:none; height:35px;", :allowTransparency => "true"}


    .nav.row
      .prev_link.column.grid_3
        - if prev_page
          %a{ :href => prev_page.path_from(self)}
            &laquo;
            = prev_page.name
        - else
          &nbsp;
      .home_link.column.grid_3
        %a{:href =>'index.html'} All Books
      .next_link.column.grid_3
        - if next_page
          %a{ :href => next_page.path_from(self)}
            = next_page.name
            &raquo;
        - else
          &nbsp;



    %h2.book= name

    .entries.chapters
      - chapter_pages.each do |chapter|
        .entry.chapter
          .anchor
            Chapter
            = chapter.number.to_i
          .content.chapter_preview
            %a{:href => chapter.path_from(self)}
              = chapter.verses.first[:text].to_s[0, 45]
              [...]

    .nav.row
      .prev_link.column.grid_3
        - if prev_page
          %a{ :href => prev_page.path_from(self)}
            &laquo;
            = prev_page.name
        - else
          &nbsp;
      .home_link.column.grid_3
        %a{:href =>'index.html'} All Books
      .next_link.column.grid_3
        - if next_page
          %a{ :href => next_page.path_from(self)}
            = next_page.name
            &raquo;
        - else
          &nbsp;
