#chapter_page
  #header
    .row
      .column.grid_9
        %a{:href =>'../index.html'} Silent Voices | The Feminist Bible


  #container.row
    #facebook_like
      %iframe{:src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsilentvoicesbible.com/#{path_from(SilentVoices.start_page)}&amp;layout=button_count&amp;show_faces=false&amp;width=50&amp;action=recommend&amp;font=lucida+grande&amp;colorscheme=light&amp;height=35", :scrolling => "no", :frameborder => "0", :style => "border:none; height:35px;", :allowTransparency => "true"}


    .nav
      .prev_link.column.grid_3
        - if prev_page
          %a{ :href => prev_page.path_from(self)}
            &laquo;
            Chapter
            = prev_page.number.to_i
        - else
          &nbsp;
      .home_link.column.grid_3
        %a{:href => book_page.path_from(self)}
          = book[:name]

      .next_link.column.grid_3
        - if next_page
          %a{ :href => next_page.path_from(self)}
            Chapter
            = next_page.number.to_i
            &raquo;
        - else
          &nbsp;

    .column.grid_9.entries.chapter
      #chapter_name
        Chapter
        = number.to_i

      - verses.each do |verse|
        .entry.verse
          .anchor.number
            %a{:name => verse[:number], :href => "##{verse[:number]}"}= verse[:number]
          .content.text= verse[:text]


    .nav
      .prev_link.column.grid_3
        - if prev_page
          %a{ :href => prev_page.path_from(self)}
            &laquo;
            Chapter
            = prev_page.number.to_i
        - else
          &nbsp;
      .home_link.column.grid_3
        %a{:href => book_page.path_from(self)}
          = book[:name]

      .next_link.column.grid_3
        - if next_page
          %a{ :href => next_page.path_from(self)}
            Chapter
            = next_page.number.to_i
            &raquo;
        - else
          &nbsp;
